## Functions:
    - To perform a specific task
    Syntax:
        def functionaname(arguments):
            //stmnts
            return return_value
    - To reduce the number of lines of code
    - reuseability of code
    - To break the complex problem into small modules to perform the task easily

```
Function Types:
    - Pre-Defined [builtin]
    - User Defined 
        - 4 types
        - With return_type and with arguments
        - With return_type and without arguments
        - Without return_type and with arguments
        - Without return_type and without arguments
```

In [3]:
# With return_type and with arguments
# reading => Main
# printing => Main
# logic => Function
def bg2nm(a,b):
    if a>b:
        return a
    return b


n = int(input("Enter First Number: "))
m = int(input("Enter Second Number: "))
print("Biggest of {} and {} is: {}".format(n,m,bg2nm(n,m)))

Enter First Number: 12
Enter Second Number: 5
Biggest of 12 and 5 is: 12

In [5]:
# With return_type and without arguments
# reading => Function
# printing => Main
# logic => Function
def bg2nm():
    n = int(input("Enter First Number: "))
    m = int(input("Enter Second Number: "))
    print("Biggest of {} and {} is: ".format(n,m),end=" ")
    if n>m:
        return n
    return m

print("{}".format(bg2nm()))

Enter First Number: 6
Enter Second Number: 90
Biggest of 6 and 90 is:  90

In [6]:
# Without return_type and with arguments
# reading => Main
# printing => Function
# logic => Function
def bg2nm(a,b):
    if a>b:
        print(a)
    else:
        print(b)


n = int(input("Enter First Number: "))
m = int(input("Enter Second Number: "))
print("Biggest of {} and {} is: ".format(n,m),end=" ")
bg2nm(n,m)

Enter First Number: 12
Enter Second Number: 3
Biggest of 12 and 3 is:  12

In [9]:
# Without return_type and without arguments
# reading => Function
# printing => Function
# logic => Function
def bg2nm():
    n = int(input("Enter First Number: "))
    m = int(input("Enter Second Number: "))
    print("Biggest of {} and {} is: ".format(n,m),end=" ")
    if n>m:
        print("{}".format(n))
    else:
        print("{}".format(m))

bg2nm()

Enter First Number: 45
Enter Second Number: 2
Biggest of 45 and 2 is:  45
None

## Data Structures:
    - To organize the data in ordered or unorder format
    - List
    - Tuple
    - Set
    - String 
    - Dictionary

## List:
    - It can be represetend as "[]"
    - It can be typecasted as list()
    - It can changes the values 
    - Slicing can be done because of index values
    - It stores the data in ordered format
    - It allows duplicate values

In [21]:
h = [1,'prasad',45.000,True,'78',1,5,6,3,6]
print(h)
print(type(h))

[1, 'prasad', 45.0, True, '78', 1, 5, 6, 3, 6]
<class 'list'>

In [11]:
a = 10
print(a,type(a))

10 <class 'int'>

In [14]:
print(h)
print(h[:])
print(h[::])

[1, 'prasad', 45.0, True, '78']
[1, 'prasad', 45.0, True, '78']
[1, 'prasad', 45.0, True, '78']

In [16]:
for i in range(len(h)):
    print(h[i],end=" ")

1 prasad 45.0 True 78

In [17]:
for i in h:
    print(i,end=" ")

1 prasad 45.0 True 78

In [27]:
print(h)
print(h[3])
print(h[-2])
print(h[:])
print(h[3:])
print(h[-2:])
print(h[:4])
print(h[:-2])

[1, 'prasad', 45.0, True, '78', 1, 5, 6, 3, 6]
True
3
[1, 'prasad', 45.0, True, '78', 1, 5, 6, 3, 6]
[True, '78', 1, 5, 6, 3, 6]
[3, 6]
[1, 'prasad', 45.0, True]
[1, 'prasad', 45.0, True, '78', 1, 5, 6]

In [35]:
print(h)
print(h[1:4])
print(h[1:-3])
print(h[-2:4])
print(h[-4:-2])

[1, 'prasad', 45.0, True, '78', 1, 5, 6, 3, 6]
['prasad', 45.0, True]
['prasad', 45.0, True, '78', 1, 5]
[]
[5, 6]

In [42]:
print(h[::])
print(h[2::])
print(h[-3::])
print(h[2:5:])
print(h[2:-6:])
print(h[::-1])

[1, 'prasad', 45.0, True, '78', 1, 5, 6, 3, 6]
[45.0, True, '78', 1, 5, 6, 3, 6]
[6, 3, 6]
[45.0, True, '78']
[45.0, True]
[6, 3, 6, 5, 1, '78', True, 45.0, 'prasad', 1]

In [43]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [44]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [48]:
print(dir(range))

['__bool__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index', 'start', 'step', 'stop']

In [49]:
g = [1,56.123120,'tilak',False,'78','78',1,5,9]
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9]

In [50]:
print(g)
g.append(789)
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9]
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789]

In [51]:
print(g)
g.append('9')
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789]
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9']

In [52]:
print(g)
g.append([12,45.021235,'prasad'])
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9']
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad']]

In [53]:
print(g)
g.append(('p',12))
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad']]
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12)]

In [54]:
print(g)
g.append(789,45)
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12)]

TypeError: append() takes exactly one argument (2 given)

In [55]:
print(g)
g.extend(45)
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12)]

TypeError: 'int' object is not iterable

In [57]:
print(g)
g.extend(789,745)
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12)]

TypeError: extend() takes exactly one argument (2 given)

In [58]:
print(g)
g.extend([78,'45212',False])
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12)]
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

In [59]:
print(g)
g.index(45)
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

ValueError: 45 is not in list

In [61]:
print(g)
print(g.index(9))
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]
8
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

In [62]:
print(g)
t = g.copy()
print(g)
print(t)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

In [63]:
print(g)
g.remove()
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

TypeError: remove() takes exactly one argument (0 given)

In [64]:
print(g)
g.remove(9)
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

In [65]:
print(g)
g.remove('z')
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

ValueError: list.remove(x): x not in list

In [66]:
print(g)
g.remove(0)
print(g)

[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]
[1, 56.12312, 'tilak', '78', '78', 1, 5, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

In [68]:
print(g)
g.remove(5)
print(g)

[1, 56.12312, 'tilak', '78', '78', 1, 5, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]
[1, 56.12312, 'tilak', '78', '78', 1, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

In [69]:
print(g)
print(t)

[1, 56.12312, 'tilak', '78', '78', 1, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]
[1, 56.12312, 'tilak', False, '78', '78', 1, 5, 9, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]

In [70]:
print(g)
g.pop()
print(g)

[1, 56.12312, 'tilak', '78', '78', 1, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', False]
[1, 56.12312, 'tilak', '78', '78', 1, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212']

In [71]:
print(g)
g.pop(5)
print(g)

[1, 56.12312, 'tilak', '78', '78', 1, 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212']
[1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212']

In [72]:
print(g)
g.insert()
print(g)

[1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212']

TypeError: insert() takes exactly 2 arguments (0 given)

In [73]:
print(g)
g.insert(0,45698)
print(g)

[1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212']
[45698, 1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212']

In [74]:
print(g)
g.insert(100,45698)
print(g)

[45698, 1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212']
[45698, 1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', 45698]

In [75]:
print(g)
print(g.count('9'))

[45698, 1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', 45698]
1

In [76]:
print(g)
print(g.count('9451351'))

[45698, 1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', 45698]
0

In [77]:
print(g)
g.reverse()
print(g)

[45698, 1, 56.12312, 'tilak', '78', '78', 789, '9', [12, 45.021235, 'prasad'], ('p', 12), 78, '45212', 45698]
[45698, '45212', 78, ('p', 12), [12, 45.021235, 'prasad'], '9', 789, '78', '78', 'tilak', 56.12312, 1, 45698]

In [78]:
print(g)
g.sort()
print(g)

[45698, '45212', 78, ('p', 12), [12, 45.021235, 'prasad'], '9', 789, '78', '78', 'tilak', 56.12312, 1, 45698]

TypeError: '<' not supported between instances of 'str' and 'int'

In [80]:
f = [12,45,500,12,78,3]
print(f)
f.sort()
print(f)
f.reverse()
print(f)

[12, 45, 500, 12, 78, 3]
[3, 12, 12, 45, 78, 500]
[500, 78, 45, 12, 12, 3]

In [81]:
print(f)
f.sort(reverse=False)
print(f)

[500, 78, 45, 12, 12, 3]
[3, 12, 12, 45, 78, 500]

In [87]:
print(f)
f.clear()
print(f)

[3, 12, 12, 45, 78, 500]
[]

In [88]:
print(g)
del g
print(g)

[45698, '45212', 78, ('p', 12), [12, 45.021235, 'prasad'], '9', 789, '78', '78', 'tilak', 56.12312, 1, 45698]

NameError: name 'g' is not defined

```
Input:
    5
    12
    4
    56
    12
    4
Output:
    List with duplicate values: 4 4 12 12 56
    List without duplicate values: 4 12 56
```

In [86]:
n = int(input())
p,j = [],[]
for i in range(n):
    k = int(input())
    j.append(k)
    if k not in p:
        p.append(k)
p.sort()
j.sort()
print("List with duplicate values: ",end=" ")
for i in j:
    print(i,end=" ")
print("\nList without duplicate values: ",end=" ")
for s in p:
    print(s,end=" ")

5
12
4
56
12
4
List with duplicate values:  4 4 12 12 56
List without duplicate values:  4 12 56

## Tuple:
    - It can be represnted as "()"
    - It can stores the data in ordered format
    - Slicing can be done because of index
    - It can't changes the value
    - It allows duplicate elements
    - It can be typecasted as tuple()

In [89]:
y = (12,False,'Lalitha',45.02132,'34')
print(y,type(y))
print(y[:])
print(y[::])

(12, False, 'Lalitha', 45.02132, '34') <class 'tuple'>
(12, False, 'Lalitha', 45.02132, '34')
(12, False, 'Lalitha', 45.02132, '34')

In [90]:
print(y[2])

Lalitha

In [91]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [92]:
print(y)

(12, False, 'Lalitha', 45.02132, '34')

In [93]:
print(y)
print(y.count('34'))

(12, False, 'Lalitha', 45.02132, '34')
1

In [94]:
print(y.count('r'))

0

In [95]:
print(y)
print(y.index('True'))

(12, False, 'Lalitha', 45.02132, '34')

ValueError: tuple.index(x): x not in tuple

In [96]:
print(y)
print(y.index(12))

(12, False, 'Lalitha', 45.02132, '34')
0

In [98]:
t = list(y)
print(t,type(t))
t.pop()
h = tuple(t)
print(h,type(h))

[12, False, 'Lalitha', 45.02132, '34'] <class 'list'>
(12, False, 'Lalitha', 45.02132) <class 'tuple'>

## Dictionary:
    - It can be represeted as "{}"
    - It can stores the data in key and value pairs
    - It can be typecasted as dict()
    - It can't allows duplicate values for keys and not for values
    - In keys we cant cnahe but in values we can change

In [99]:
t = {}
print(t,type(t))

{} <class 'dict'>

In [100]:
g = {'4'}
print(g,type(g))

{'4'} <class 'set'>

```
    p = {[(,),(,)]}
```

In [103]:
t = {'name':['somu','kiran','lalitha'],'age':10,'sal':25000}
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'age': 10, 'sal': 25000}

In [104]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [113]:
for i in t.items():
    print(i,end=" ")

('name', ['somu', 'kiran', 'lalitha']) ('age', 10) ('sal', 25000)

In [110]:
for i,j in t.items():
    print(i,j)

name ['somu', 'kiran', 'lalitha']
age 10
sal 25000

In [114]:
print(t.keys())

dict_keys(['name', 'age', 'sal'])

In [115]:
print(t.values())

dict_values([['somu', 'kiran', 'lalitha'], 10, 25000])

In [116]:
print(t.get('name'))

['somu', 'kiran', 'lalitha']

In [117]:
print(t['age'])

10

In [118]:
print(t)
t.pop()
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'age': 10, 'sal': 25000}

TypeError: pop expected at least 1 arguments, got 0

In [119]:
print(t)
t.pop('sal')
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'age': 10, 'sal': 25000}
{'name': ['somu', 'kiran', 'lalitha'], 'age': 10}

In [120]:
print(t)
t.popitem()
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'age': 10}
{'name': ['somu', 'kiran', 'lalitha']}

In [121]:
print(t)
t['sal'] = 45000
print(t)

{'name': ['somu', 'kiran', 'lalitha']}
{'name': ['somu', 'kiran', 'lalitha'], 'sal': 45000}

In [123]:
print(t)
t.update({'sal':12000})
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'sal': 45000}
{'name': ['somu', 'kiran', 'lalitha'], 'sal': 12000}

In [124]:
print(t)
t.setdefault()
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'sal': 12000}

TypeError: setdefault expected at least 1 arguments, got 0

In [125]:
print(t)
t.setdefault('age')
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'sal': 12000}
{'name': ['somu', 'kiran', 'lalitha'], 'sal': 12000, 'age': None}

In [127]:
print(t)
t.setdefault('year',2)
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'sal': 12000, 'age': None}
{'name': ['somu', 'kiran', 'lalitha'], 'sal': 12000, 'age': None, 'year': 2}

In [128]:
print(t)
t['age'] = 45
print(t)

{'name': ['somu', 'kiran', 'lalitha'], 'sal': 12000, 'age': None, 'year': 2}
{'name': ['somu', 'kiran', 'lalitha'], 'sal': 12000, 'age': 45, 'year': 2}

In [138]:
d = [12,78]
e = [45,5,78]
g = {}
# for i in d:
#     e = g.fromkeys(e,i)
#     print(e)
k = g.fromkeys(e,d)
print(k)

{45: [12, 78], 5: [12, 78], 78: [12, 78]}