## Variables:
    - To store a value
    - To change a value

In [1]:
a = 20
a

20

In [4]:
e = 45
d = 'ramu'
e
d

'ramu'

In [6]:
e,d

(45, 'ramu')

In [10]:
w,u,p,k,j = 12,23.00,'prasad',True,'45'
w,u,p,k,j

(12, 23.0, 'prasad', True, '45')

In [11]:
j

'45'

In [12]:
r = n = m = 20
r,n,m

(20, 20, 20)

## Data Types:
    - int => only numeric values
    - float => both values like numeric and decimal
    - string => enclosed with ' or "
    - complex => rela and imaginary parts
    - All Data structures[list,tuples,set and dictionary]
    - Boolean [True,False and None]

## Type method:
    - To know the data types of a variable
    Syntax:
        type(variablename)

In [13]:
s = 45
type(s)

int

In [14]:
y = '78'
y

'78'

In [15]:
print(y)

78

In [17]:
t,m,n,p,f =45,'tilak',56.012,False,'45.0212'
print(t,type(t))
print(m,type(m))
print(n,type(n))
print(p,type(p))
print(f,type(f))

45 <class 'int'>
tilak <class 'str'>
56.012 <class 'float'>
False <class 'bool'>
45.0212 <class 'str'>

In [18]:
d = 5+3j
print(d,type(d))

(5+3j) <class 'complex'>

## Typecasting:
    - To change the data type from one data type to another data type
    - int()
    - float()
    - str()
    - All Data Structures[List,Tuple,Set and Dictionary]

## Input Formatting:
    - For Dynamic Programming to read a value from user
    - It displays an info to a user
    - It read a data from user
    - By default it stores string data type values
    Syntax:
     input("Info to a user")

In [4]:
a = input("Enter a value: ")
print(a,type(a))

Enter a value: 45.021321
45.021321 <class 'str'>

In [5]:
a = input("Enter First value: ")
b = input("Enter Second value: ")
print(a,type(a))
print(b,type(b))

Enter First value: 78
Enter Second value: tilak
78 <class 'str'>
tilak <class 'str'>

In [6]:
a,b = input("Enter First value: "),input("Enter Second value: ")
print(a,type(a))
print(b,type(b))

Enter First value: 45
Enter Second value: 78
45 <class 'str'>
78 <class 'str'>

## Output Formatting:
    - ,
    - %
    - .format [pyformat.info]

In [18]:
n,m = input("Enter First Value: "),input("Enter Second Value: ")
print("Addition of",n,"and",m,"is: ",int(n)+int(m),type(n))
print("Substraction of %s and %s is: %d"%(n,m,int(n)-int(m)))
print("Multiplication of {1} and {0} is: {2}".format(n,m,int(n)*int(m)))
print(n,type(n))

Enter First Value: 8
Enter Second Value: 5
Addition of 8 and 5 is:  13 <class 'str'>
Substraction of 8 and 5 is: 3
Multiplication of 5 and 8 is: 40
8 <class 'str'>

## Operators:
    - Arithmetic -> +,-,*,/,%,floor Division(//),power(**)
    - Logical -> AND,OR,NOT,XOR
    - Bitwise -> &&,||,!,>>,<<,~
    - Relational -> >=,<=,==,!=,>,<
    - Assignment -> +=,-=,*=,/=,%=,//=,**=
    - Membership -> in,not in
    - Identity -> is, is not

In [21]:
n,m = int(input("Enter First number: ")),int(input("Enter Second number: "))
print("Division of {} and {} is: {}".format(n,m,n/m))
print("Modulus of {} and {} is: {}".format(n,m,n%m))
print("Floor Division of {} and {} is: {}".format(n,m,n//m))
print("{} Power of {} is: {}".format(n,m,n**m))

Enter First number: 23
Enter Second number: 5
Division of 23 and 5 is: 4.6
Modulus of 23 and 5 is: 3
Floor Division of 23 and 5 is: 4
23 Power of 5 is: 6436343

## Conditional Statements:
    - To check whether a given condition is either True or False
    - if => single case
    - if-else => two cases
    - nested if => 2 or more cases
    - elif => 3 or more n number of cases

## If
    Syntax:
        if condition:
            //stmnts

In [24]:
k = int(input("Enter a number: "))
if k != str(k):
    print(k,type(k))

Enter a number: 12
12 <class 'int'>

In [26]:
j = int(input("Enter a number: "))
g = int(input("Enter a number to check: "))
if j==g:
    print("{} and {} are equal".format(j,g))

Enter a number: 23
Enter a number to check: 23
23 and 23 are equal

```
Input:
    5
Output:
    Given numbers are: 5
    given number is 5 and its float value is: 5.0
    given number is 5 and its string value is: '5.0'
```

In [29]:
k = int(input())
print("Givne number are: {}".format(k))
print("given number is {} and its float value is: {}".
     format(k,float(k)))
print("given number is {} and its string value is: '{}'".
     format(k,float(k)))

12
Givne number are: 12
given number is 12 and its float value is: 12.0
given number is 12 and its string value is: '12.0'